/* General
-------------------------- */
::-moz-selection { background: rgba(237,52,49,.7); color: #FFF; text-shadow: none; }
::selection { background: rgba(237,52,49,.7); color: #FFF; text-shadow: none; }
body {
  font-family: "Lato", Helvetica, Arial, Geneva, sans-serif;
  text-rendering: optimizelegibility;
  line-height: 1.5;
  color: #444;
}
h1, h2, h3, h4 { line-height: 1.2; }
h1, h2, h4 { color: #ED3431; }
h1 {
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 0 0 1em;
}
h2:first-child { margin-top: 0; }
h3, h4 { margin: 0; }
h3 {
  font-size: 1em;
  font-weight: bold;
}
h3 span { font-weight: normal; }
h4 { text-transform: lowercase; }
a {
  color: #000;
  text-decoration: underline;
  transition: color 0.1s linear;
}
a:hover { color: #ED3431; }
a.vcard { text-decoration: none; }
a.vcard span { text-decoration: underline; }
a.vcard:after {
  content: " \21AF";
  text-decoration: none;
}
h3 + ul,
h3 + p,
h4 + p { margin-top: 0.3em; }
p.highlight { color: #000; }
p.blurb {
  color: #777;
  font-size: 0.9em;
  font-style: italic;
}
.job { margin-bottom: 2em; }

/* Layout
-------------------------- */
.wrapper {
  max-width: 960px;
  padding: 0 1em;
  margin: 4em auto;
}
.primary {
  float: right;
  width: 75%;
}
.secondary {
  float: left;
  width: 25%;
}
.secondary:last-child { margin-top: 2em; }

/* Media queries
-------------------------- */
@media only screen and (max-width: 44em) {
  h1 { text-align: center; }
  .primary,
  .secondary {
    float: none;
    width: auto;
  }
  .secondary:last-child {
    border-top: 2px solid #ED3431;
    padding-top: 2em;
  }
}
